#flyoutMenu {
    width: 272px;
    height: 100vh;
    background-color: #354778;/*#9898c9;*/
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .5s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    text-align: center;
}

#flyoutMenu.hide {
    transform: translateX(-272px);

}

#flyoutMenu.show {
    color: white;
    overflow: hidden;
}

#flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
}

#flyoutMenu h1 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

#flyoutMenu h2 a:hover {
    text-decoration: underline;
}

#flyoutMenu li {
    color: #ffffff;
    margin-left: 15px;
    text-decoration: none;
    text-align: center;
    display: block;
}

#flyoutMenu li:hover {
    text-decoration: underline;
}